@mixin transition($args...) {
  -webkit-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin fontSize($fontSize) {
  font-size: $fontSize;
  font-size: ($fontSize/$fontsize_std) * 1rem;
}
@mixin before_after_size($width, $height) {
  width: $width;
  height: $height;
}
// tranforms======
@mixin translate() {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

// position======
@mixin tl($t, $l) {
  top: $t;
  left: $l;
}
@mixin tr($t, $r) {
  top: $t;
  right: $r;
}
@mixin br($b, $r) {
  bottom: $b;
  right: $r;
}
@mixin bl($b, $l) {
  bottom: $b;
  left: $l;
}
