//colors ====================
$white: #fff;
$bgc-std-color: #d07c7c;
$dark-color: #686868;
//===========================
$border_dimension: 2px solid;

// media breakpoint
$breakpoint_sm: 500px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
