@import "./utils/mixins.scss";
@import "./utils/variables.scss";
@import "./base/layout.scss";
@import "./base/typography.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: "Roboto", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
  width: 100%;
  padding: 25px;
  line-height: 1.5;
  color: #686868;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.arrow {
  @include transition_md;
  &:hover {
    @include scale(2.5, 0);
  }
}

/* MODULES - Individual style components */
/* buttons */
button {
  background-color: #d07c7c;
  color: $white;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  @include fontSize(12px);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.6;
  }
}

.button-send {
  margin-top: 10px;
}

/* form */
form {
  margin: 20px auto;
  width: 100%;
  max-width: 550px;
  & p {
    @include fontSize(12px);
  }
}

input,
textarea {
  display: block;
  width: 100%;
  @include fontSize(12px);
  outline: none;
  padding: 15px;
  color: #686868;
  border: 2px solid #d07c7c;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

section {
  padding: 50px 0;
}
section .text-center p,
section h2 p,
section h3 p,
section .nav-main p {
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
}

/* work */
.work-wrap:before,
.work-wrap:after {
  content: " ";
  display: table;
}

.work-wrap:after {
  clear: both;
}

figure {
  position: $position_std;
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  &:hover {
    .caption-head {
      &:before {
        @include tl(-20px, -20px);
      }
      &:after {
        @include tr(-20px, -20px);
      }
    }
    .caption-blurb {
      &:before {
        @include bl(-20px, -20px);
      }
      &:after {
        @include br(-20px, -20px);
      }
    }
  }
  &:before {
    @include before_after_size(100%, 100%);
    @include tl(0, 0);
    background-color: #000;
    opacity: 0;
    @include transition;
  }
  &:hover:before {
    opacity: 0.7;
  }
}

figure {
  & img {
    width: 100%;
    display: block;
  }
  & figcaption {
    position: absolute;
    @include tl(50%, 50%);
    min-width: 200px;
    @include translate;
    color: $white;
    line-height: 2;
    @include transition;
    &:before {
      @include before_after_size(80%, 2px);
      top: -webkit-calc(50% + 2px);
      top: calc(50% + 2px);
      @include translate;
      background-color: $white;
    }
    & .caption-head {
      position: $position_std;
      font-family: "Roboto";
      text-transform: uppercase;

      &:before {
        @include tl(0, 0);
        border-top: $border_dimension;
        border-left: $border_dimension;
        @include before_after_size(20px, 20px);
        @include transition;
      }
      &:after {
        @include tr(0, 0);
        border-top: $border_dimension;
        border-right: $border_dimension;
        @include before_after_size(20px, 20px);
        @include transition;
      }
    }
    & .caption-blurb {
      position: $position_std;
      &:before {
        @include bl(0, 0);
        border-bottom: $border_dimension;
        border-left: $border_dimension;
        @include before_after_size(20px, 20px);
        @include transition;
      }
      &:after {
        @include br(0, 0);
        border-bottom: $border_dimension;
        border-right: $border_dimension;
        @include before_after_size(20px, 20px);
        @include transition;
      }
    }
  }
}

#testimonials {
  padding: 5px 0;
}

/* video*/
.video {
  height: 500px;
  background: url("https://i.imgur.com/0IRYG66.jpg") no-repeat;
  background-size: cover;
  position: $position_std;
}

/*contact */
#contact {
  position: $position_std;
  &:before {
    @include before_after_size(100%, 100%);
    display: block;
    @include tl(0, 0);
    background: url("https://image.ibb.co/h9qYHA/bg-video.png") no-repeat center
      center;
    opacity: 0.1;
    z-index: -1;
  }
}

h2,
h3 {
  position: $position_std;
  font-family: "Roboto";
  text-transform: uppercase;
  padding-bottom: 14px;
  margin-bottom: 30px;
  @include fontSize(22px);
  &::after,
  &::after {
    @include before_after_size(72px, 3px);
    display: block;
    left: -webkit-calc(50% - 36px);
    left: calc(50% - 36px);
    bottom: 0px;
    background: #d07c7c;
  }
}

h3 {
  text-transform: none;
}

/* LAYOUT  */
header {
  position: $position_std;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg") no-repeat center
    center/cover;
  color: $white;
  padding: 15% 0 0 0;
  min-height: 650px;
}

.title-main,
h1 {
  line-height: 1.2;
  @include fontSize(30px);
}
.title-main span,
h1 span {
  display: block;
}
.title-main span:last-child,
h1 span:last-child {
  @include fontSize(23px);
}

.title-sub {
  @include fontSize(48px);
  position: $position_std;
  &::after {
    @include before_after_size(82px, 3px);
    display: block;
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $white;
  }
}
.title-blurb {
  padding: 40px 0;
  span {
    display: block;
    line-height: 25px;
  }
}

.menu {
  color: #686868;
  background: $white;
  display: block;
  position: absolute;
  @include br(0, 0);
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}

h1 {
  @include fontSize(22px);
  display: inline-block;
}

.nav-toggle {
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  div {
    display: block;
    width: 40px;
    height: 3px;
    margin-top: 7px;
    background-color: #686868;
    @include transition_md;
  }
  &:hover {
    opacity: 0.7;
  }
}

.nav-main {
  display: none;
  clear: both;
  background: $white;
  a {
    position: $position_std;
    text-decoration: none;
    padding-bottom: 2px;
    @include transition_short;
    display: block;
    width: 100%;
    padding: 20px 0;
    &::before {
      @include before_after_size(100%, 4px);
      @include bl(0, 0);
      background-color: #d07c7c;
      @include scale(0, 1);
      -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
      -o-transform-origin: 0 50%;
      transform-origin: 0 50%;
      @include transition_short;
    }
    &:hover {
      color: #d07c7c;
      font-weight: bold;
      &::before {
        @include scale(1, 1);
      }
    }
  }
}

footer .copy {
  margin-top: 20px;
}

@media (min-width: 500px) {
  .caption-blurb {
    @include fontSize(18px);
  }
}

@media (min-width: 768px) {
  header {
    min-height: 95vh;
    padding-top: 14em;
  }
  .figure-sm {
    width: 48%;
    display: block;
    float: left;
  }
  .figure-sm.one {
    margin-left: 4%;
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-main {
    display: block;
    float: right;
    width: 70%;
  }
  .nav-main ul {
    text-align: right;
  }
  .nav-main li {
    display: inline-block;
    margin-left: 40px;
  }
  .nav-main a {
    text-transform: uppercase;
    padding: 0;
  }
  .work-column-lg {
    display: block;
    width: 61.5%;
    float: left;
  }
  .work-column-sm {
    display: block;
    width: 35.5%;
    float: left;
    margin-left: 3%;
  }
  .work-column-sm img {
    height: auto;
  }
  form {
    padding-bottom: 40px;
    p {
      display: inline-block;
      float: left;
    }
    .button-send {
      float: right;
      margin-top: 0;
    }
  }

  .text-center form p,
  h2 form p,
  h3 form p,
  .nav-main form p {
    margin-top: 10px;
  }
}
